* {
    box-sizing: border-box;
}

.text {
    width: 40%;
    float: left;
    padding: 15px;
    /* border: 1px solid black; */
}
.image {
    width: 60%;
    float: left;
    padding: 15px;
    /* border: 1px solid black; */
}
