* {
    box-sizing: border-box;
}
/* .datamap{
  width: 100%;
  float: left;
  padding: 15px;
  background: #d3eaf8;
} */
.text {
    width: 40%;
    float: left;
    padding: 15px;
    /* border: 1px solid black; */
}
.image {
    width: 60%;
    float: left;
    padding: 15px;
    /* border: 1px solid black; */
}
