* {
    box-sizing: border-box;
}
.title{
  width: 100%;
  float: left;
  padding: 15px;
  background: #d3eaf8;
}
.map {
    width: 60%;
    float: left;
    padding: 15px;
    /* border: 1px solid black; */
}
.barChart {
    width: 40%;
    float: left;
    padding: 15px;
    /* border: 1px solid black; */
}
.lineGraph {
    width: 40%;
    float: left;
    padding: 15px;
    /* border: 1px solid black; */
}
